@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');
@import "tailwindcss";

@theme {
  --color-primary: #6366F1;
  --color-primary-hover: #4F46E5;
  --color-secondary: #20970B;
  --color-neutral: #9C9C9C;
  --color-background: #FAFAFA;
  --color-surface: #FFFFFF;
  --color-text-primary: #0A0A0A;
  --color-text-secondary: #6B6B6B;
  --color-border-subtle: #E8E8EC;
  --color-success: #10B981;
  --color-warning: #F59E0B;
  --color-error: #EF4444;

  --font-body: 'DM Sans', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif;
  --font-mono: 'JetBrains Mono', monospace;
}

body {
  background-color: #FAFAFA;
  color: #0A0A0A;
  font-family: 'DM Sans', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif;
}
